#logo {
    height: 60px;
}

#change {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.button {
    margin: 20px;
}

.contained {
    width: 100%;
    position: relative;
  }
  
  /* Make the image responsive */
  .contained img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .contained .btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #5e7f5c;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  } 

#SignUpButton {
    text-align: right;
    height: auto;
}

div a, .footer-text {
    color: #5e7f5c;
}

div a:hover {
    color: black;
}

.LogInLogo {
    height: 80px;
}

.left {
    background-color: #5e7f5c;
    color: white;
    width: 45%;
    padding: 15px;
    border-radius: 15px;
    margin-right: auto;
}

.right {
    background-color: white;
    color: #5e7f5c;
    width: 45%;
    padding: 15px;
    border-radius: 15px;
    margin-left: auto;
}
